.DS_Store
node_modules/
token.json
logs/*
modules/*
!modules/example
package-lock.json
events/*
!events/messageDeleteExample.ts
db/*
paste-api-token.json
*.js
yarn-error.log
yarn.lock
paste_api_token.json
